* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background-color: rgb(63, 61, 61);
}

#todo-container {
  width: 50%;
  border: 4px solid black;
  margin: auto;
  margin-top: 2.5em;
  transition: all 0.4s;
}
#todo-container:hover {
  border-color: whitesmoke;
  -webkit-box-shadow: 7px 10px 42px 14px rgba(255, 255, 255, 0.69);
}

#heading {
  text-align: center;
  text-decoration: underline;
  font-family: "Lobster", cursive;
  margin-bottom: 1em;
  transition: all 1.4s;
}

#heading:hover {
  color: rgb(255, 255, 255);
}

.white-glow {
  color: rgb(255, 255, 255);
}

.add-task-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px solid red; */
}

.add-task {
  background-color: transparent;
  border: 2px solid whitesmoke;
  padding: 0.3em 1em;
  margin-right: 0.2em;
  font-size: 1.2em;
  font-weight: 600;
  font-family: "Satisfy", cursive;
}
.add-btn {
  background-color: rgb(63, 61, 61);
  color: white;
  border: 1.5px solid whitesmoke;
  padding: 0 0.3em;
  border-radius: 0.7em;
}
.add-btn:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  border-color: whitesmoke;
}

.counter-box {
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 3em;
  /* border: 2px solid red; */
}

#tasks-title {
  display: flex;
  justify-content: center;
  background-color: black;
  color: whitesmoke;
  font-family: "Lobster", cursive;
  margin-bottom: 1em;
  padding: 0.5em 0;
  visibility: hidden;
}

.task-list input {
  margin: 0 0.5em;
  /* border: 2px solid red; */
}

.task-list ul li {
  margin: auto;
  border: 2px solid rgb(255, 255, 255);
  width: 40%;
  list-style: none;
  font-family: "Satisfy", cursive;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.1em;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.task-list input:checked + label {
  text-decoration: line-through;
}

.list-data {
  display: flex;
  align-items: center;
  width: 90%;
  /* border: 2px solid white; */
}
.delete {
  /* border: 2px solid white; */
  width: 10%;
  height: 1em;
  width: 1em;
}
